html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: sans-serif
}

body {
    margin: 0
}




:root {
    --dark-green: #003c2f;
    --light-green: #22ad01;
    --light-grey: #f2f7f2;
    --green: #005542;
    --brown: #865f48;
    --orange: #ee8146;
    --yellow: #dfbe1b;
    --grey-green: #65816d;
    --grey: #d3dcd4;
    --form-field: #fffee6;
    --template-form-text: #a09c35
}





body {
    color: var(--dark-green);
    font-family: Gellix,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%
}

h1 {
    color: var(--dark-green);
    font-size: 60px;
    font-weight: 700;
    line-height: 100%
}

h2 {
    color: var(--dark-green);
    font-size: 42px;
    font-weight: 700;
    line-height: 130%
}

h3 {
    color: var(--dark-green);
    font-size: 38px;
    font-weight: 700;
    line-height: 100%
}

h4 {
    color: var(--dark-green);
    font-size: 25px;
    font-weight: 700;
    line-height: 100%
}

h5 {
    font-size: 22px;
    font-weight: 700;
    line-height: 120%
}

h6 {
    color: var(--dark-green);
    font-size: 20px;
    font-weight: 600;
    line-height: 100%
}

p {
    color: var(--dark-green);
    text-align: left;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%
}

a {
    color: var(--light-green);
    letter-spacing: -.2px;
    text-decoration: none
}

a:hover {
    color: var(--light-green)
}

li {
    margin-bottom: 9px
}

img {
    display: inline-block
}



.overflow-hidden {
    display: block;
    overflow: hidden
}


.text-align-right {
    text-align: right
}

.text-weight-bold {
    font-weight: 700
}

.text-weight-bold.text-align-right.pricing {
    padding-top: 0
}

.form_radio-label.is-active {
    color: #22ad01
}

.max-width-medium {
    width: 100%;
    max-width: 32rem
}



.background-color-white {
    background-color: #fff;
    overflow: visible
}

.background-color-white.box-shadow.box-radius-20 {
    border-radius: 20px
}

.background-color-white.box-shadow.box-radius-20.max-height-full {
    height: 100%
}

.background-color-white.box-shadow.box-radius-20.max-height-full.flex-vertical.justify-end {
    justify-content: space-between
}

.background-color-white.box-shadow.padding-50 {
    padding: 50px
}

.text-opacity-50 {
    opacity: .5
}




.page-wrapper {
    overflow: hidden
}


.container-large {
    width: 100%;
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px
}



.container-large.flex-gap {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    flex-direction: column;
    display: flex
}

.container-large.flex-gap.gap-20 {
    grid-column-gap: 20px;
    grid-row-gap: 20px
}

.overflow-scroll {
    overflow: scroll
}



.text-align-center {
    text-align: center
}




.text-style-quote {
    border-left: .25rem solid #e2e2e2;
    margin-bottom: 0;
    padding: 0 1.25rem;
    font-size: 1.25rem;
    line-height: 1.5
}

.align-center {
    align-self: center;
    margin-left: auto;
    margin-right: auto
}

.button {
    color: #fff;
    text-align: center;
    background-color: #22ad01;
    border-style: none;
    border-radius: 36px;
    padding: 12px 33px 14px;
    font-weight: 500;
    line-height: 140%;
    transition: background-color .3s
}

.button:hover {
    color: #fff;
    background-color: #2bb90a
}

.button.w--redirected-checked {
    border-width: 0
}

.button.is-text {
    color: var(--dark-green);
    background-color: transparent
}

.button.is-text:hover {
    background-color: var(--light-grey)
}







.grid._3col {
    grid-template-columns: 1fr 1fr 1fr
}

.grid._3col.gap-150 {
    grid-column-gap: 150px;
    grid-row-gap: 60px
}

.grid._3col.gap-150.mobile-22 {
    grid-column-gap: 150px
}

.grid._3col._1row {
    -webkit-text-fill-color: inherit;
    background-clip: border-box;
    grid-template-rows: auto auto auto;
    justify-content: center
}

.grid._3col._1row.background-light {
    -webkit-text-fill-color: inherit;
    background-clip: border-box;
    grid-template-rows: auto auto
}

.grid._3col._6row {
    grid-template-rows: auto auto auto auto auto auto
}

.grid._3col._2row {
    grid-template-rows: auto auto
}

.grid._3col.gap-0.max-width-640 {
    grid-template-rows: auto
}

.grid._4col {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row
}

.grid._4col.gap-150 {
    grid-column-gap: 150px;
    grid-row-gap: 60px
}

.grid._4col._2ow {
    grid-template-rows: auto auto
}

.grid._2col._6row {
    grid-column-gap: 1px;
    grid-row-gap: 1px
}

.grid._2col._1-row {
    grid-template-rows: auto
}

.grid._5col {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
}



.hide-desktop {
    display: none
}



.toggle-custom {
    overflow: hidden
}

.toggle-custom.faq {
    border-bottom: 1px solid #d3dcd4;
    height: 84px;
    padding-top: 30px;
    padding-bottom: 30px
}

.toggle-custom.faq.first {
    border-bottom-color: var(--light-green)
}

.text-size-20 {
    text-align: left;
    font-size: 20px
}

.text-size-20.text-align-center {
    text-align: center
}

.max-width-600 {
    width: 100%;
    max-width: 600px
}

.max-width-600.align-center {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex
}

.max-width-600.align-center.text-align-center {
    display: block
}

.max-width-600.align-center.gap {
    grid-column-gap: 13px;
    grid-row-gap: 13px
}

.image._1 {
    cursor: pointer;
    border-radius: 12px;
    width: 100%
}

.image._2 {
    width: 51%
}

.image._4 {
    width: 100%;
    height: 100%;
    position: absolute
}



.image.persona-banner.alt {
    left: 0;
    right: auto
}

.image.persona-banner.screen {
    object-fit: contain;
    object-position: 50% 100%;
    width: auto;
    padding-top: 50px;
    bottom: 0;
    left: 0;
    right: auto
}




.hero-image-wrapper-persona {
    z-index: 1;
    background-image: url(https://assets-global.website-files.com/635ac95…/6632011…_pexels-fauxels-3182755.jpg);
    background-position: 50% 0;
    background-size: cover;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    width: 100%;
    min-width: 428px;
    height: 100%;
    min-height: 554px;
    position: relative;
}


.position-absolute {
    z-index: 3;
    position: absolute;
    top: auto;

    right: auto;
}

.margin-box.top-120 {
    margin-top: 120px;
}

* {
    box-sizing: border-box;
}
div {
    display: block;
    unicode-bidi: isolate;
}

/* Styles for desktop */
.header-container {
    display: block;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.logo img {
    max-width: 200px;
    height: auto;
    display: block;
}

#menu {
    display: none; /* Initially hide the menu button on desktop */
}

.navigation {
    display: block;
    clear: both;
    margin-top: -61px;
}

/* Media query for mobile responsiveness */
@media only screen and (max-width: 767px) {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo img {
        max-width: 150px; /* Adjust logo size for smaller screens */
    }

    #menu {
        display: block; /* Show the menu button on mobile */
        margin-top: 10px; /* Add space between the logo and button */
    }

    .navigation {
        display: none; /* Hide navigation links on mobile */
    }
}

