/* base.css */

/* Reset default margin and padding */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sansita", sans-serif;
}

/* mobile **************************/
header {
    background-color: #304f7f;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
span{
    color: white;
    font-size: 38px;
    font-family: emoji;
}

/*header,*/
/*main {*/
/*    margin: 0 auto;*/
/*}*/


.heading-container {
    text-align: center; /* Center-align the content */
}

.horizontal-line {
    margin: 0 auto;
    border-bottom: 1px solid black;
    /*margin-left: 186px;*/
    /*width: 141%;*/

}


.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}

.card {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
}



/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h2{
    background-color: blue;
    color: white;
}

.custom-list {
    list-style-type: none; /* Remove the bullet points */
    text-align: justify;
    color: black;
}

.info-item {
    margin-bottom: 10px; /* Add spacing between each information item */
}

/* Style the span element for weather and visits */
.info-item span {
    font-weight: bold; /* Make the text bold */
    color: #333; /* Change the color of the text */
}

.lact{
    background-color: blue;
    color: white;
    margin-left: -18px;
    margin-right: -18px;
    margin-top: -19px;
    text-align: center;
}

.infor{

    background-color: blue;
    color: white;
    margin-left: -18px;
    margin-right: -18px;
    margin-top: -19px;
    text-align: center;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sansita", sans-serif;
}

/* mobile **************************/
header {
    background-color: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

header,
main {
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
    margin-left: 261px;
}

nav {
    background-color: #36454f;
    margin: 0 auto;
    max-width: 100%;
}
nav ul {
    list-style-type: none;
}
nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration:overline;
}

.active {
    color: yellow;
}






