/* base.css */

/* Reset default margin and padding */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sansita", sans-serif;
}

/* mobile **************************/
header {
    background-color: #304f7f;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

header span{
        color: white;
        font-size: 38px;
        font-family: emoji;

}


.heading-container {
    text-align: center; /* Center-align the content */
}

.horizontal-line {
    margin: 0 auto;
    border-bottom: 1px solid black;

    margin-left: 155px;
    margin-right: 22px;

}


.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}

.card {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
}



/* Footer styles */
footer {
    background-color: #1d4d72;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h2{
    background-color: #1d4d72;;
    color: white;
}

.custom-list {

    list-style-type: none;
    text-align: justify;
    color: black;
    font-family: monospace;
    margin-top: 15px;
    font-size: 27px;
}

.info-item {
    margin-bottom: 10px; /* Add spacing between each information item */
}

/* Style the span element for weather and visits */
.info-item span {
    font-weight: bold; /* Make the text bold */
    color: #333; /* Change the color of the text */
}

.lact{
    background-color: #1d4d72;;
    color: white;
    margin-left: -18px;
    margin-right: -18px;
    margin-top: -19px;
    text-align: center;
    padding: 37px;
    margin-bottom: 38px;
}

.infor{

    background-color: #1d4d72;;
    color: white;
    margin-left: -18px;
    margin-right: -18px;
    margin-top: -19px;
    text-align: center;
    padding: 37px;
    margin-bottom: 38px;
}

.customP{

    padding: 14px;
    font-family: "Sansita", sans-serif;

    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sansita", sans-serif;
}

/* mobile **************************/
header {
    background-color:#465fa9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/*header,*/
main {
    margin-left: 224px;
    margin-right: 224px;
    margin-top: 40px;
}

h1 {
    font-size: 2rem;
    margin-left: 150px;
}

nav {
    background-color: #36454f;
    margin: 0 auto;
    max-width: 100%;
    padding: 47px;
}
nav ul {
    list-style-type: none;
}
nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration:overline;
}

.active {
    color: yellow;
}

.flower{
    width: 19px;
    border-radius: 19px;
    height: 13px;
}

.flag{
    height: 13px;
}

header img{
    width: 165px;
}

section ul li span{
    color: blue;
    text-decoration: underline;
}


.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode {
    background-color: #333333;
    color: #ffffff;
}

.btn-dark{
    border-radius: 6px;
    margin-left: 9px;
    padding: 6px;
    font-style: italic;
    font-family: cursive;
}


/*Hu menu togle*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: left;
    font-family: times, serif;
    font-size: 1.5rem;
    margin-left: 1rem;
}

h2 {
    font-size: 1.2rem;
    color: navy;
    text-align: left;
    margin: 1rem;
}

nav {
    max-width: 100%;
    margin: 1rem auto;
}
.navigation a.active {
    /* Add your styling for the active menu item here */
    font-weight: bold; /* Example: make the font bold */
    color: blue; /* Example: change the text color to blue */
}


/* small view navigation */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #333;
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}

.active::before {
    content: "📍";  /* just a wayfinding symbol for the user */
}

.stuff {
    margin: 0.5m;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #bed;
    max-width: 580px;
    height: 100vh;
}

/* large view navigation ************************************/
@media (min-width: 37.5em) {
    h1 {
        font-size: 2.5rem;
        margin-left: 0;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
    }

    #menu {
        display: none; /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    .stuff {
        margin: 1rem auto;
    }
}

/*Hu menu togle*/